<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form method="POST" action="/team">
    <label>Team Name: <input type="text" name="name"></p>
    <label>Coach: <input type="text" name="name"></p>
    <label>Point Guard: <input type="text" name="name"></p>
    <label>Shooting Guard: <input type="text" name="name"></p>
    <label>Power Forward: <input type="text" name="name"></p>
    <label>Small Forward: <input type="text" name="name"></p>
    <label>Center: <input type="text" name="name"></p>
    <input type="submit" id="Submit">
   </form>
 </body>
</html>
